<h1>Lista de postagens</h1>
<hr>
<a href="/admin/postagem/add"><button class="btn btn-success">Adicionar postagens</button></a>

{{#each postagens}}

<div class="card mt-4">
    <div class="card-body">

        <H4>{{Titulo}}</H4>
        <p>Conteudo: {{Conteudo}}</p>
        <small>Slug: {{Slug}}</small>
        <br>
        <small>Categoria: {{Categoria.Nome}}</small>
        <br>
        <a href="/admin/postagem/edit/{{_id}}"><button class="btn btn-success">Editar</button></a>
    </div>
</div>

{{else}}

<p>Nenhuma postagem registrada</p>
{{/each}}